<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - DeadDrop</title>
    <link rel="icon" href="../../assets/images/Crop1_DeadDrop2.jpg" type="image/jpg">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/privacyPolicy.css?v=1.2">
</head>
<body>
    <div class="hero">
        <h1>DeadDrop Privacy Policy</h1>
        <p>Updated February 7, 2026</p>
        <section class="hero3">
            <h1 class="section-title">Information we collect.</h1>
            <div class="statement">
                <p>
                    DeadDrop collects only your first name, last name, username and password during sign up process.
                    DeadDrop does not collect any other personal information.
                    DeadDrop does not even collect non-personal information includes details such as your browser type, device type, IP address, pages visited, and usage patterns.
                    You are anonymous here.
                </p>
            </div>

            <h1 class="section-title">Data sharing and disclosure.</h1>
            <div class="statement">
                <p>
                    DeadDrop does not sell, rent, or trade your information. DeadDrop does not share your data even when required by the law or the authorities, to protect your rights and safety.
                </p>
            </div>

            <h1 class="section-title">Data security.</h1>
            <div class="statement">
                <p>
                    DeadDrop takes serious reasonable measures to protect your information from unauthorized access, alteration, disclosure, or destruction. However, no method
                    of online transmission or storage is completely secure, so absolute safety is not guaranteed. You are encourage to not sign up with your personal information.
                </p>
            </div>

            <h1 class="section-title">Your rights.</h1>
            <div class="statement">
                <p>
                    You have the right to delete you account. For feedback, you can submit on Reddit or similar sites. It will be heard.
                </p>
            </div>

            <h1 class="section-title">Changes to this policy.</h1>
            <div class="statement">
                <p>
                    Privacy Policy may be updated from time to time. Any changes will be posted on this page with the updated effective date. You are encouraged to review this policy periodically.
                </p>
            </div>

        </section>
    </div>
</body>
</html>